<launch>
  <arg name="log_output" default="log" />
  <arg name="bond_topic" default="unspecified_bond_topic" />
  <node pkg="robotiq_c_model_control" type="dual_gripper_node.py" name="dual_rtu_node" output="$(arg log_output)">
    <param name="bond_topic" value="$(arg bond_topic)" />
  </node>
</launch>
